<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SoftwareOverflow.CookingScheduler" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ItemScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ShowTimes"
            android:label="@string/title_activity_show_times" >
        </activity>

        <receiver
            android:name=".NotificationReceiver"
            android:process=":remote" />

        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:theme="@style/homeScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpgradeScreen"
            android:label="@string/title_activity_upgrade_screen" >
        </activity>
        <activity
            android:name=".SavedMeals"
            android:label="@string/title_activity_saved_meals" >
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
